.collapse-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  max-width: 1023px;
  margin: 0 auto;
  padding: 0px 20px 0px;
  border-radius: 5px;
  color: $background-color;
  background-color: $primary-color;

  @media (max-width: 768px) {
    height: 30px;
  }

  &__title,
  &__icon {
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: transform 250ms ease;

    @media (max-width: 768px) {
      font-size: 16px;
    }

    &.open {
      transform: rotate(-180deg);
    }
  }

  &__panel {
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
    &.open {
      max-height: 200px;
    }
  }

  &__text {
    max-width: 1023px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: $surface-color;
    border-radius: 0 0 5px 5px;
    font-weight: 300;
    text-align: justify;
    text-justify: inter-word;

    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
}

.collapse-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (max-width: 768px) {
    gap: 19px;
  }
}

.collapses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 76px;
  width: 100%;
  list-style: none;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .content {
    margin: 0;
  }

  .collapse-container {
    &__title {
      font-size: 18px;

      @media (max-width: 768px) {
        font-size: 13px;
      }
    }
  }
}
