.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: $background-color;
  background-color: $primary-color;
}

.tag-list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 10px;
}
