.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  padding: 0px 30px;
  border-radius: 10px;
  background-color: $primary-color;

  &__text {
    font-size: 14px;
    font-weight: 700;
    color: $background-color;
  }
}

.tag-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: $surface-color;
  padding: 100px 20px;
}
