// variables
@import './abstracts/variables';

// layout
@import './layout/header';
@import './layout/footer';
@import './components/card';
@import './layout/grid';

// components
@import './components/banner';
@import './components/collapse';

body {
  margin: 0 auto;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.main {
  display: grid;
  grid-template-rows: auto auto auto;
  min-height: 100vh;
  gap: 50px;
  margin-top: 45px;
  background-color: $background-color;
}

.background {
  width: 100%;
  background-color: $background-color;
  max-width: 1240px;
  margin: 0 auto;
}

.content {
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
}
